@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');


/* html,
body {
    height: 100%;
    background-color: #000000;
} */

.cuerpo-inicio{
    background-color: black;
}

.carousel-inner {
    height: 90vh;
    width: 100%;
    position: relative;
    background-color: black;

}


.presentaciones {
    display: flex;
    justify-content: space-between;
}


.carousel-inner img {
    height: 100vh;
    object-fit: cover; 

}

.presentacion {
    width: 1000%;
}


.presentacion h1 {
    color: rgb(158, 16, 16);
    font-size: 100px;
    margin-top: 70px;
    margin-left: 50px;

    font-family: "Skranji", system-ui;
    font-weight: 450;
    font-style: normal;
}

.presentacion p {
    font-size: 29px;
    line-height: 50px;
    color: rgb(233, 230, 230);
    margin-top: 30px;
    margin-left: 50px;

    font-family: "Skranji", system-ui;
    font-weight: 500;
    font-style: normal;
}

.anim1 {
    opacity: 0;
    transform: scale(0);
    animation: zoomIn 3s linear forwards;

}

/* zoom desde el centro */
#animimg1 {
    opacity: 0;
    transform: scale(0);
    animation: zoomIn 2s linear forwards;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


/* SUKUNAAAAAAAAAAAAAAA */
/*zoom para el textoo */
.anim2 {
    opacity: 0;
    /* 0 jaja */
    transform: scale(0);
    animation: zoomIn 2s linear forwards;
}

/* desvanecimiento desde la izquierda */
#imgLeft {
    opacity: 0;
    transform: translateX(-150px);
    animation: fadeInLeft 2s ease forwards;
}

/* desvanecimiento desde la derecha */
#imgRight {
    opacity: 0;
    transform: translateX(150px);
    animation: fadeInRight 2s ease forwards;
}

/*desvanecimiento desde la izquierda */
@keyframes fadeInLeft {
    0% {
        opacity: 0, 5;
        transform: translateX(-150px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*desvanecimiento desde la derecha */
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(150px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/* GOJOOOOOOOOOOOOOOOOOO */
.anim {
    opacity: 0;
    transform: translateY(150px);
    animation: mila 1s linear forwards;
}

#animimg {
    opacity: 0;
    transform: translateX(250px);
    animation: nesa 1s linear forwards;

}

@keyframes mila {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes nesa {
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}



.tarjeta-descripcion {
    margin: 50px;
    width: 1250px;
    height: 500px;
    background: rgb(103, 29, 29);
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 17px;
}


.tarjeta-descripcion img {
    border-radius: 20px 0px 0px 20px;
    filter: drop-shadow(-10px 0px 20px rgb(255, 3, 3));
    width: 70%;
    height: 100%;

}


.tarjeta-descripcion img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
    filter: drop-shadow(-10px 0px 20px rgb(0, 0, 0));

}

.tarjetaadicional , .tarjeta-descripcion article {
    padding: 5px;
    line-height: 60px;

    font-family: "Skranji", system-ui;
    font-weight: 300;
    font-style: normal;
}

article h1 {
    background: rgba(190, 175, 175, 0.252);
    color: rgb(0, 0, 0);
    border-radius: 20px 20px 20px 0px;
}

article p {
    font-size: 23px;
    color: rgb(172, 162, 162);
}


.btn-primary {
    color: rgb(255, 255, 255);
    background-color: #000000;
    border-radius: 10px;
    width: 100%;
    
}


.btn-primary:hover {
    color: #000000;
    background-color:#a29898;
    transition: 1.5s;
    
}

.tarjetaadicional {
    display: none;
    margin: 50px;
    width: 1250px;
    height: 400px;
    background: rgb(111, 95, 95);
    border-radius: 20px;
    text-align: center;

}

.tarjetaadicional img {
    width: auto;
    height: auto;
    filter: drop-shadow( 40px 0px 0px rgb(255, 255, 255));
}


/* RESPONSIVEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE */
/*  732px */
@media (max-width: 732px) {
    .presentacion h1 {
        font-size: 50px;
        margin-left: 20px;
        margin-top: 30px;
    }

    .presentacion p {
        font-size: 18px;
        line-height: 25px;
        margin-left: 20px;
        margin-top: 25px;
    }

    .carousel-inner {
        height: 60vh;
    }

    .carousel-inner img {
        height: 60vh;
    }

    .tarjeta-descripcion {
        margin: 30px;
        width: 90%;
        height: auto;
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }

    .tarjeta-descripcion img {
        width: 80%;
        height: auto;
        max-height: 300px;
    }

    article h1 {
        font-size: 35px;
    }

    article p {
        font-size: 20px;
        color: #000000;
    }

    .tarjetaadicional {
        margin: 30px;
        width: 90%;
        height: auto;
        padding: 10px;
    }

    .tarjetaadicional img {
        margin-top: 10px;
        width: 55%;
        height: auto;
        max-height: 500px;
    }

    .btn-primary {
        width: 80%;
    }

    .btn-primary:hover{
        cursor: pointer;
        color: #000000;
        background-color:#c9bbb9;
        transition: 1.5s;
    }
}